html{
    scroll-behavior: smooth;
    scroll-padding-top:110px;
}

.menu-list li {
    position: relative;
    padding: 0;
}

.menu-list li a::after {
    content: "" ;
    height: 2px;
    width: 90%;
    position: absolute;
    bottom: 0;
    background: rgb(248, 225, 183);
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.15s ease;
    
}

.menu-list li a:hover::after {
    transform-origin: bottom left ;
    transform: scaleX(1);
}

.btn {
    transition-property: all;
    transition-duration: 0.5s;
    cursor: pointer;
}

.btn:hover {
    background: rgb(253, 245, 229);
    transition-property: all;
    transition-duration: 0.5s;
}

.prod-mas {
    transition-property: all;
    transition-duration: 0.5s;
    cursor: pointer;
}

.prod-mas:hover {
    background: rgb(253, 215, 140);
    transition-property: all;
    transition-duration: 0.5s;
}

@keyframes slipe-up {
    from{
        transform: translateY(100px);
    }
    to{
        transform: translateY(0);
    }
}
.hero-info {
    transition-property: all;
    transition-duration: 1s;
    animation-name: slipe-up;
    transition-timing-function: ease-out;
    
}

.comprar {
    transition-property: all;
    transition-duration: 0.5s;
    cursor: pointer;
}

.comprar:hover {
    background: rgb(248, 203, 111);
    transition-property: all;
    transition-duration: 0.5s;
}