@media (max-width: 1200px) {
    header {
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
        
    .menu {
            gap: 10px;
        }
    
    .cart-icon {
            height: 33px;
            margin-right: 0rem;
            margin-top: 4px;
        }
    
    .menu-list {
            position: absolute;
            top: 85px;
            left: 65%;
            right: 5%;
            width: 30%;
            flex-direction: column;
            background-color: antiquewhite;          
            border-top: none;
            border-radius: 5px 5px 15px 15px;
            align-items: center;
            padding: 20px 20px;
            gap: 25px;
            z-index: 2;
            display: none;
        }
    
    .menu-list a {
            font-size: 18px;
        }
    
    .menu-label {
            display: flex;
            order: 2;
            cursor: pointer;
        }
    
    .menu-label img {
            height: 20px;
            width: 25px;
        }
    
    #menu-toggle:checked + .menu-list {
            display: flex;
        }
    
    h1 {
        font-size: 50px;
    }

    footer {
        width: 100%;
        height: 100%;
    }
    #cards {
        width: 100%;
    }

    .horario {
        width: 70% ;
        height: 70%;
    }


    }

@media (max-width:1100px) {

    header {
        width: 100%;
    }

    #contactos {
        width: 95%;
        height: 95%;}

    footer {
        width: 100%;
        height: 100%;
        padding: 10px;
        align-items: baseline;
    }    

    #cards {
        width: 100%;
    }

    .card1 img {
        width: 47px;
    }

    .card1 h4 {
        font-size: 30px;
    }

    .cardp {
        gap: 5px;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }

    .cards-info {
        width: 85%;
        height: 85%;
    }

    .horario {
        width: 75% ;
        height: 75%;
        
    }


}   



@media (max-width:900px) {

    header {
        width: 100%;
    }

    .info {
        font-size: 18px;
    }

    #hero {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .hero-info {
        width: 100%;
        height: 100%;
    }

    #contactos {
        width: 95%;
        height: 95%;}

    footer {
        width: 100%;
        height: 100%;
        padding: 10px;
        align-items: baseline;

    }    

    #cards {
        width: 100%;
    }

    .card1 img {
        width: 45px;
    }

    .card1 h4 {
        font-size: 28px;
    }

    .cardp {
        gap: 5px;
        justify-content: center;
        align-items: center;
        font-size: 18px;
    }

    .cards-info {
        width: 85%;
        height: 85%;
    }

    .horario {
        width: 70% ;
        height: 70%;
        justify-content: baseline;
        align-items: baseline;
    }


}


@media (max-width:730px) {

    header {
        width: 100%;
    }

    #hero {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .hero-info {
        width: 100%;
        height: 100%;
    }

    #contactos {
        width: 90%;
        height: 90%;
        flex-direction: column;
    }

    .info {
        font-size: 18px;
    }

    #cards {
        width: 95%;
        height: 95%;
    }

    .card1 img {
        width: 40px;
    }

    .card1 h4 {
        font-size: 25px;
    }

    .cardp {
        gap: 5px;
        justify-content: center;
        align-items: center;
        font-size: 16px;
    }

    footer {
        width: 100%;
        height: 100%;
        padding: 7px;
        align-items: baseline;

    }

    .cards-info {
        width: 85%;
        height: 85%;
    }

    .horario {
        width: 70% ;
        height: 70%;
        justify-content: baseline;
        align-items: baseline;
    }

    



}

@media (max-width:615px) {
    h1 {
        font-size: 43px;
    }

    #contactos {
        flex-direction: column;
    }
    .info {
        font-size: 22px;
        word-spacing: 0px;
    }

    .horario {
        width: 60% ;
        height: 60%;
        justify-content: baseline;
        align-items: baseline;
    }

    .dia {
        width: 120px ;
        height: 40px ;
        font-size: 10px;
    }

    #cards {
        width: 95%;
        height: 95%;
    }

    .card1 img {
        width: 37px;
    }

    .card1 h4 {
        font-size: 22px;
    }

    .cardp {
        gap: 5px;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }

    footer {
        width: 100%;
        height: 100%;
        padding: 5px;
        align-items: baseline;

    }

    .cards-info {
        width: 85%;
        height: 85%;
    }

    


}

@media (max-width:480px) {
    h1 {
        font-size: 30px;
    }
    .info {
        font-size: 22px;
        word-spacing: 0px;
    }
    #cards h3 {
        width: 80%;
        height: 80%;
        justify-content: center;
        align-items: center;
    }

    .horario {
        width: 60% ;
        height: 60%;
        justify-content: baseline;
        align-items: baseline;
    }

    .dia {
        width: 120px ;
        height: 40px ;
        font-size: 10px;
        
    }

    #cards {
        width: 95%;
        height: 95%;
    }

    .card1 img {
        width: 35px;
    }

    .card1 h4 {
        font-size: 20px;
    }

    .cardp {
        gap: 5px;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }

    footer {
        width: 100%;
        height: 100%;
        padding: 5px;
        align-items: baseline;

    }

    .cards-info {
        width: 85%;
        height: 85%;
    }



}
