@media (max-width: 1200px) {
    header {
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
        
    .menu {
            gap: 10px;
        }
    
    .cart-icon {
            height: 33px;
            margin-right: 0rem;
            margin-top: 4px;
        }
    
    .menu-list {
            position: absolute;
            top: 85px;
            left: 65%;
            right: 5%;
            width: 30%;
            flex-direction: column;
            background-color: antiquewhite;          
            border-top: none;
            border-radius: 5px 5px 15px 15px;
            align-items: center;
            padding: 20px 20px;
            gap: 25px;
            z-index: 2;
            display: none;
        }
    
    .menu-list a {
            font-size: 18px;
        }
    
    .menu-label {
            display: flex;
            order: 2;
            cursor: pointer;
        }
    
    .menu-label img {
            height: 20px;
            width: 25px;
        }
    
    #menu-toggle:checked + .menu-list {
            display: flex;
        }
    
    h1 {
        font-size: 50px;
    }
    }



@media (max-width:900px) {

    header {
        width: 100%;
    }

    .info {
        font-size: 18px;
    }

    #hero {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .hero-info {
        width: 100%;
        height: 100%;
    }

    #contactos {
        width: 90%;
        height: 90%;}

        footer {
            width: 95%;
            height: 95%;
        }    
}


@media (max-width:730px) {

    header {
        width: 100%;
    }

    #hero {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .hero-info {
        width: 100%;
        height: 100%;
    }

    #contactos {
        width: 90%;
        height: 90%;
        flex-direction: column;
    }

    .info {
        font-size: 18px;
    }

    #cards p {
        font-size: 18px;
    }

    #cards {
        width: 90%;
        height: 90%;
    }
    footer {
        width: 95%;
        height: 95%;
    }


}

@media (max-width:615px) {
    h1 {
        font-size: 43px;
    }

    #contactos {
        flex-direction: column;
    }
    .info {
        font-size: 22px;
        word-spacing: 0px;
    }

    .horario {
        width: 80% ;
        height: 80%;
    }

    .dia {
        width: 120px ;
        height: 40px ;
        font-size: 10px;
    }

    #cards p {
        font-size: 17px;
    }

    #cards {
        width: 90%;
        height: 90%;
    }
    footer {
        width: 95%;
        height: 95%;
    }

}

@media (max-width:480px) {
    h1 {
        font-size: 30px;
    }
    .info {
        font-size: 22px;
        word-spacing: 0px;
    }
    #cards h3 {
        width: 80%;
        height: 80%;
        justify-content: center;
        align-items: center;
    }

    .horario {
        width: 80% ;
        height: 80%;
    }

    .dia {
        width: 120px ;
        height: 40px ;
        font-size: 10px;
    }

    #cards p {
        font-size: 15px;
    }

    #cards {
        width: 90%;
        height: 90%;
    }

    footer {
        width: 95%;
        height: 95%;
    }



}
