@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");
*{
    margin: 0%;
    padding: 0%;
    font-family:"https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap";
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

header {
    background-color: rgb(68, 68, 68);
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0px 30px 0px 30px;
    height: 100px;
    position: fixed;
    position: sticky;
    top: 0;
    z-index: 2; /* Para que se vea siempre por encima */
}

.logo {
    height: 70%;
    border-radius: 0.2rem;
    padding: 0px;
}

.menu,
.menu-list {
    display: flex;
    gap: 10px;
    justify-content: center;
    
}

a {
    
    border-radius: 0.7rem;
    padding: 10px 10px;
}

.menu-list {
    gap: 30px;
}

.menu-list a {
    color: rgb(245, 196, 135);
    font-weight: 550;
    font-size: 22px;
}

.carrito {
    font-weight: 700;
    border-radius: 0.5rem;
    height: 30px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: rgb(247, 226, 181);
    border-radius: 2rem;
}

.cart {
    position: absolute;
    top: 90px;
    right: 0;
    padding: 50px 30px;
    background: rgb(243, 239, 227);
    border-left: 1px solid white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: calc(85vh - 65px);
    overflow-y: scroll;
    
    transform: translate(2);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
    border-radius: 0.6rem;
    align-items: center;
    justify-content: center;
}

.cart p {
    font-size: 30px;
    font-weight: 600;
    color: black;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: #f1cc9d;
    padding: 15px;
    border-radius: 10px;
}

.cart-item img {
    height: 70px;
    width: 70px;
    padding: 0px 1px ;
}

.item-info {
    display: flex;
    flex-direction: column;
}

.item-title {
    color: rgb(252, 240, 223);
    border: black;
    font-weight: 500;
    font-size: 20px;
}

.item-price {
    color:rgb(245, 224, 168);
    font-size: 18px;
    font-weight: 800;
    align-items: center;
    justify-content: center;
}

.item-handler {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.quantity-handler {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    border-radius: 5px;
    color: azure;
    font-weight: 400;
}

.item-quantity {
    color: dimgrey;
}

.up {
    border: 1px solid rgb(4, 49, 49);
    background-color: #f5dab8;
    color: dimgray;
}

.down {
    background-color: #f5dab8;
    border: 1px solid rgb(4, 49, 49);
    color: dimgray;

}

.botoncompra {
    align-items: center;
    justify-content: center;
    background: rgb(243, 197, 112);
    color: white;
    display: flex;
    padding: 0;
    width: 130px;
    height: 40px;
    border-radius: 0.5rem;
}  

/*Toggle del carro*/
#cart-toggle:checked + .cart {
    transform: translate(0);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
} 

#menu-toggle,
#cart-toggle,
.menu-label,
.cart /*no anda*/
{
    display: none;
}

/* /OCULTAR BARRA DE SCROLL DEL CARRITO/ */

.cart::-webkit-scrollbar {
    display: none;
}

main {
    background-color: rgb(37, 37, 37);
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 30px;
    padding: 40px 20px;
    justify-content: center;
    align-items: center;

}

h1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-weight: 200;
}

#hero {
    display: flex;
    gap: 20px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
    font-size: 25px;
    padding: 20px;
    background: rgb(61, 61, 61);
    border-radius: 20px;
}

.info {
    font-weight: bold;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-align: center;
    padding: 20px;
    color: rgba(254,247,228,1)

}

.precio {
    background: linear-gradient(338deg, rgba(129,52,175,1) 0%, rgba(221,42,123,1) 28%, rgba(254,218,119,1) 100%);
    padding: 3px 8px;
}

.hero-img {
    display: flex;
    border-radius: 1rem;
    flex-direction: column;
    padding: 1px 10px;
    justify-content: center;
    color: white;
    align-items: center;
    gap: 20px;
}

.hero-img p {
    font-size: 17px;
    color: rgb(153, 153, 153);
}

.hero-fernet {
    display: flex;
    border-radius: 0.7rem;
    font-weight: 100px;
    width: 100%;
    height: 300px;
}

.lista {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    font-weight: 500;
}

.hero {
    display: flex;
}


h1{
    background: radial-gradient(circle, rgba(246,176,54,1) 0%, rgba(251,232,78,1) 65%);
    color:transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
    font-size: 4rem;
    font-family: "https://fonts.google.com/specimen/Sigmar";
    padding: 0px 15px 0px 15px ;
    font-weight: bold;
    
    
}
h2{
    background: rgb(253, 215, 168);
    color:transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    box-shadow: 3px 3px 2px;
    letter-spacing: 5px;
    padding: 0px 10px 0px 0px;
}


/* productos */


#products {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 100px 10px;
    justify-content: center;
    align-items: center;

}


.prod-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
    
.prod {    
    border-radius: 0.5rem;
    padding: 5px 10px;
    display: flex;
    background: radial-gradient(circle, rgba(251,233,210,1) 45%, rgba(252,219,179,1) 70%, rgba(251,209,157,1) 90%);
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prod img {
    height: 200px;
    width: 200px;
}

.prod-info {
    flex-direction: column;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    gap: 10px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.prod-info h3 {
    justify-content: center;
    align-items: center;
}

.prod-info button {
    cursor: pointer;
    width: 70px;
    height: 30px;
    padding: 3px;
}


.prod-mas button {
    background: radial-gradient(circle, rgba(251,233,210,1) 45%, rgba(252,219,179,1) 70%, rgba(251,209,157,1) 90%);
    cursor: pointer;
    height: 50px;
    width: 180px;
    font-size: 20px;
    border-radius: 10px;
    padding: 0px 5px;
}

/* CARDS */

#cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}

#cards h3 { 
    display: flex;
    color: rgb(252, 219, 179);
    font-size: 45px;

}

#cards p {
    color: rgb(250, 242, 228);
    font-size: 20px;
}

.cards-info {
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    justify-content: center;
    align-items: flex-start;
}

.card1 { 
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.card1 img {
    display: flex;
    width: 50px;
    border-radius: 30px;
}

.card1 h4 {
    color: rgb(255, 230, 198);
    font-size: 20px;
}

.card1 p {
    color: rgb(250, 240, 212);
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.btns {
    display: flex;
    gap: 12px;
}
.btn {
    display: flex;
    background: #f7d5a9;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 20px;
    justify-content: center;
    align-items: center;

}



/*footer*/

footer {
    display: flex;
    justify-content: center;
   
    flex-direction: column;
    gap: 5px;
    align-items: center;
    background-color: rgb(56, 56, 56);
    
}

#contactos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 80px;
    padding: 30px;
    background-color: rgb(87, 86, 86) ;
    border-radius: 10px;
    width: 80%;
    height: 80%;

}

.contact {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.contact h3 {
    color: rgb(248, 196, 132);
    font-size: 40px;

}

.contact-info {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    gap: 15px;
    display: flex;
    flex-direction: column;

}

.contact-info h5 {
    color: white;
}

.contact-infoextra {
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    display: flex;
    flex-direction: column;


}

.contact-infoextra img {
    width: 20px;
    justify-content: center;
    align-items: center;

}

.contact-infoextra p {
    color: rgb(216, 215, 215);

}

.icon {
    flex-direction: row;
    display: flex;
    border-radius: 1px;
    gap: 5px;
}

.icon img {
    border-radius: 15px;
}

.redes {
    display: flex;
    gap: 20px;
}

.redes img {
    display: flex;
    width: 30px;
    gap: 20px;
    border-radius: 15px;
}

.captura {
    display: flex;
    justify-content: center;
    align-items: center;
}

.captura img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

footer {
    background: rgb(68, 68, 68);
    padding: 15px;
    display: flex;
    flex-direction: column;
}

footer h5 {
    font-size: 20px;
    color: #f1cc9d;
}

.horario {
    display: flex;
    gap: 30px;
    color: rgb(83, 83, 83);
}

.dia {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(338deg, rgba(252,212,130,1) 0%, rgba(250,229,187,1) 50%, rgba(242,225,208,1) 100%);
    padding: 15px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.dia h6 {
    font-size: 20px;
}












